body {
    font-family: 'Courier New', Courier, monospace; /* Set monospace font */
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace; /* Set monospace font for headings */
}

.container {
    margin: 20 auto;
    
}

header {
    background-color: #1e1e1e; /* Darker header background color */
    padding: 10px;
    border-bottom: 1px solid #333; /* Darker border color */
}

header h1 {
    font-size: 2em;
    color: #ffffff; /* Light header text color */
}

header p {
    font-size: 1.2em;
    color: #ffffff; /* Light header text color */
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 1px solid #333; /* Darker border color */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project {
    display: flex;
    align-items: center;
}

.project img {
    max-width: 33%; /* Each image takes up one-third of the container */
    margin-right: 10px; /* Add some space between the images */
}

.project h3 {
    flex-grow: 1;
    margin: 0;
    max-width: 50%; /* Limit text width */
}

.project p {
    flex-grow: 1;
    margin-bottom: 10px;
    max-width: 50%; /* Limit text width */
}

.expandable {
    cursor: pointer;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background
